<h1><%= @place["name"] %></h1>

 
   <% for entry in @entries %>
    
      <h3> <%= entry["title"] %> </h3>
      <p> <%= entry["posted_on"] %> </p>
      <p> <%= entry["description"] %> </p>
   
   <% end %>


<h5>
  <a href="/entries/new?place_id=<%= @place["id"] %>">New Post</a> 
</h5>

<!--<form action="/entries" method="post">
  <p>
    <label for="title">Title</label>
    <input type="text" name="title">
    <br>
    <br>
    <label for="description">Description</label>
    <textarea name="description" id="description_input"></textarea>
    <br>

    <label for="post_date">Post Date</label>
    <input type="date" name="post_date" id="post_date_input">

    <input name="place_id" type="hidden" value="<%= @place["id"] %>" />
  </p>
  
  <button>Submit</button>
</form> -->

<p><a href="/places">Back to All Places</a></p>
